urxvt*scrollBar:false
urxvt*scrollBar_right:false
urxvt*scrollBar_floating:false
urxvt*font: xft:Hermit:size=8:antialias=true
urxvt*shading: 5
urxvt*transparent: false
urxvt*borderLess: false
urxvt*internalBorder: 5
urxvt*cursorBlink: true
!urxvt*background: #1c1e1f
!*background: #272822
!urxvt*foreground: #dfd7c1
urxvt*cursorColor: #5c5c5c
urxvt*.colorUL: #ffccaa

urxvt*loginShell: true

urxvt.clipboard.autocopy: true

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: google-chrome-stable
URxvt.matcher.button: 1
URxvt.underlineURLs: false
